//mixins!
@mixin border {
    border: .2rem solid #252525;
    border-radius: .2rem;
    
}

@mixin backgroundvalues {
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
    padding-top: 0.6rem;
    
}

$bckgrndcolor:  rgba(241, 241, 241, 0.5);

body {
    font-family: 'PT Sans Caption', sans-serif;
}

//card styling
.card {
    border: 1rem solid #252525;
    border-radius: 2rem;

    &-type {
        background-color: #252525;
        color: white;
        border-radius: .25rem;
        position: relative;
        top: -2.3rem;
        z-index: 1;
        font-size: 1.2rem;
        align-items: center;
    }

    //add more card types here
    &-mission {
        background-image: url("../images/background_map.png");
        @include backgroundvalues();
    }

    &-reward{
        &-axis {
            background-image: url("../images/background_rewards.png");
            @include backgroundvalues();
        }
        &-allied {
            background-image: url("../images/background_rewards.png");
            @include backgroundvalues();
        }

    }

    &-title {
        @include border();
        font-size: 1.5rem;
        font-weight: bolder;
        background-color: $bckgrndcolor;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        margin-bottom: 0.1rem;
     
    }

    &-number {
        text-align: center;
        background-color: #252525;
        border-radius: 50%;
        color: white;

        &-position {
            margin-left: -1.8rem;
            margin-top: -0.9rem;
        }
    }

    &-img {
        display: flex;
        justify-content: center;

        &-top {
            @include border();
            z-index: 1;
        }
    }
    &-body {
        @include border();
        background-color: $bckgrndcolor;
        margin-top: .2rem;
    }
}

.text {
    &-story {
        margin-top: -1.8rem;
        font-size: .9rem;
    }

    &-mission {
        font-size: 1.2rem;
    }

    &-note {
        font-size: .7rem;
    }
}