
$borderval: .2rem solid #252525;
$borderrads: .2rem;
$bckgrndcolor:  rgba(241, 241, 241, 0.5);
body {
    font-family: 'PT Sans Caption', sans-serif;
}

.card {
    border: 1rem solid #252525;
    border-radius: 2rem;

    &-mission {
        background-image: url("/images/background_map.png");
        border-radius: 1rem;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2rem;
        padding-top: 0.6rem;

    }

    &-reward {
        background-image: url("/images/background_rewards.png");
        border-radius: 1rem;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 2rem;
        padding-top: 0.6rem;
    }

    &-title {
        font-size: 1.5rem;
        font-weight: bolder;
        background-color: $bckgrndcolor;
        margin-left: 1.4rem;
        margin-right: 1.4rem;
        margin-bottom: 0.1rem;
        border: $borderval;
        border-radius: $borderrads;
    }

    &-number {
        text-align: center;
        background-color: #252525;
        border-radius: 50%;
        width: 80%;
        color: white;

        &-position {
            margin-left: -1.8rem;
            margin-top: -0.9rem;
        }
    }

    &-img {
        display: flex;
        justify-content: center;

        &-top {
            border: $borderval;
            border-radius: $borderval;
            z-index: 1;
        }
    }
    &-body {
        background-color: $bckgrndcolor;
        border: $borderval;
        border-radius: $borderrads;
        margin-top: .2rem;
    }
}

.text {
    &-story {
        font-size: .9rem;
    }

    &-mission {
        font-size: 1.2rem;
    }

    &-note {
        font-size: .7rem;
    }
}