$body-bckgrnd:          #dbdbd9;
$table-wrapper-bckgrnd: #bdbdb3;
$thead-bckgrnd:         #c4c4bb;
$tbody-bckgrnd:         #cfcfc4;

$border: rgba(143, 143, 143, 0.65);
$font-color: rgb(24, 24, 24);


@mixin borderStyle($btm) {
    border-style: solid;
    border-color: $border;
    border-bottom: $btm 1px;
    vertical-align: center;
}

.raf {
    color: $font-color;
    background: $body-bckgrnd;
    //background-image: url("../images/backgrounds/spitfire.jpg");

    .table-wrapper {
        background: $table-wrapper-bckgrnd;
        padding: 0.5rem;
        border-radius: .2rem;



        .table-style {
            font-family: 'Special Elite', cursive;

            thead {
                background: $thead-bckgrnd;
            }

            tbody {
                background: $tbody-bckgrnd;
            }

            th {
                border-width: 1px 1px 0 1px;
                @include borderStyle(solid);
            }

            td {

                border-width: 0 1px 0 1px;
                @include borderStyle(dotted);
            }
        }
    }
}
