.card {
    background-image: url("\images\background_map.jpg");
}

.card-number {
    align-self: center;
}

.story-text {
    font-size: .9rem;
}

.mission-text{ 
    font-size: 1.2rem;
}


.note-text {
    font-size: .7rem;
}
